AIRFLOW_IMAGE=#IMAGE
AIRFLOW_HOST=#AIRFLOWHOST

AMP_API_HOST=#AMPAPIHOST
AMP_DB_HOST=#AMPDBHOST
AMP_DB_NAME=#AMPDBNAME
AMP_DB_USER=#AMPDBUSER
AMP_DB_PASSWORD=#AMPDBPASSWORD
AMP_DB_PORT=#AMPDBPORT
REDIS_HOST=#REDISHOST


AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session
AIRFLOW__WEBSERVER__AUTH_BACKEND=airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session

# Meta-Database
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Airflow Core
AIRFLOW__CORE__FERNET_KEY=UKMzEm3yIuFYEq1y3-2FxPNWSVwRASpahmQ9kQfEr8E=
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW_UID=0

# Backend DB
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow-postgres/airflow
AIRFLOW__DATABASE__LOAD_DEFAULT_CONNECTIONS=False

AIRFLOW__CORE__LOAD_EXAMPLES=false

# Airflow Init
_AIRFLOW_DB_UPGRADE=True
_AIRFLOW_WWW_USER_CREATE=True
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow


DUMB_INIT_SETSID=0

CONNECTION_CHECK_MAX_COUNT=0
